# Lab Assignment Four: Multi-Layer Perceptron

In this lab, we will compare the performance of multi-layer perceptrons programmed  via your own various implementations.

## Team Members:
1) Mohammed Ahmed Abdelrazek Aboelela.

2) Yihan Zhou

3) Sofiya Chaku

4) Naim Barnett

## Dataset Description (as per Kaggle)

The data here are taken from the DP03 and DP05 tables of the 2015 American Community Survey 5-year estimates. The full datasets and much more can be found at the American Factfinder website.

The classification task we will be performing is to predict, for each county, what the child poverty rate will be.

## Load, Split, and Balance (1.5 points total)

[.5 points] Load the data into memory and save it to a pandas data frame. Do not normalize or one-hot encode any of the features until asked to do so.  Remove any observations that having missing data. Encode any string data as integers for now.

In [291]:
'''Importing all the required libraries throughout the lab'''
import numpy as np
import pandas as pd 
import matplotlib
import matplotlib.pyplot as plt
import os 
import warnings
import re
warnings.simplefilter('ignore', DeprecationWarning)
from sklearn.model_selection import train_test_split
import math

In [292]:
"""Loading the data into memory and saving it to a pandas dataframe"""
data = pd.read_csv("Data/acs2015_county_data.csv", low_memory=False)
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3220 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusId         3220 non-null   int64
 1   State            3220 non-null   object
 2   County           3220 non-null   object
 3   TotalPop         3220 non-null   int64
 4   Men              3220 non-null   int64
 5   Women            3220 non-null   int64
 6   Hispanic         3220 non-null   float64
 7   White            3220 non-null   float64
 8   Black            3220 non-null   float64
 9   Native           3220 non-null   float64
 10  Asian            3220 non-null   float64
 11  Pacific          3220 non-null   float64
 12  Citizen          3220 non-null   int64
 13  Income           3219 non-null   float64
 14  IncomeErr        3219 non-null   float64
 15  IncomePerCap     3220 non-null   int64
 16  IncomePerCapErr  3220 non-null   int64
 17  Poverty          3220 non-null   float64
 18  ChildPoverty     3219 non-null   float64
 19  Professional     3220 non-null   float64
 20  Service          3220 non-null   float64
 21  Office           3220 non-null   float64
 22  Construction     3220 non-null   float64
 23  Production       3220 non-null   float64
 24  Drive            3220 non-null   float64
 25  Carpool          3220 non-null   float64
 26  Transit          3220 non-null   float64
 27  Walk             3220 non-null   float64
 28  OtherTransp      3220 non-null   float64
 29  WorkAtHome       3220 non-null   float64
 30  MeanCommute      3220 non-null   float64
 31  Employed         3220 non-null   int64
 32  PrivateWork      3220 non-null   float64
 33  PublicWork       3220 non-null   float64
 34  SelfEmployed     3220 non-null   float64
 35  FamilyWork       3220 non-null   float64
 36  Unemployment     3220 non-null   float64
dtypes: float64(27), int64(8), object(2)
memory usage: 930.9+ KB

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7

In [293]:
"""Removing observations that have missing data"""
#Replace all blank strings will null to be dropped
data.replace('', np.nan, inplace=True)
#Remove all rows with null values
data.dropna(inplace=True)
#Find duplicate instances
duplicates = data[data.duplicated()]
#Remove all duplicates
data = data.drop_duplicates()
#After removal 
data.info()
data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3218 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusId         3218 non-null   int64
 1   State            3218 non-null   object
 2   County           3218 non-null   object
 3   TotalPop         3218 non-null   int64
 4   Men              3218 non-null   int64
 5   Women            3218 non-null   int64
 6   Hispanic         3218 non-null   float64
 7   White            3218 non-null   float64
 8   Black            3218 non-null   float64
 9   Native           3218 non-null   float64
 10  Asian            3218 non-null   float64
 11  Pacific          3218 non-null   float64
 12  Citizen          3218 non-null   int64
 13  Income           3218 non-null   float64
 14  IncomeErr        3218 non-null   float64
 15  IncomePerCap     3218 non-null   int64
 16  IncomePerCapErr  3218 non-null   int64
 17  Poverty          3218 non-null   float64
 18  ChildPoverty     3218 non-null   float64
 19  Professional     3218 non-null   float64
 20  Service          3218 non-null   float64
 21  Office           3218 non-null   float64
 22  Construction     3218 non-null   float64
 23  Production       3218 non-null   float64
 24  Drive            3218 non-null   float64
 25  Carpool          3218 non-null   float64
 26  Transit          3218 non-null   float64
 27  Walk             3218 non-null   float64
 28  OtherTransp      3218 non-null   float64
 29  WorkAtHome       3218 non-null   float64
 30  MeanCommute      3218 non-null   float64
 31  Employed         3218 non-null   int64
 32  PrivateWork      3218 non-null   float64
 33  PublicWork       3218 non-null   float64
 34  SelfEmployed     3218 non-null   float64
 35  FamilyWork       3218 non-null   float64
 36  Unemployment     3218 non-null   float64
dtypes: float64(27), int64(8), object(2)
memory usage: 955.3+ KB

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,0.5,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.0,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.8,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,0.6,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.9,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,Puerto Rico,Vega Baja,56858,27379,29479,96.4,3.4,0.1,0.0,...,1.2,1.3,0.3,32.0,13660,78.3,17.6,4.1,0.0,15.2
3216,72147,Puerto Rico,Vieques,9130,4585,4545,96.7,2.9,0.0,0.0,...,10.8,0.0,1.4,14.0,2860,44.5,41.6,13.6,0.3,12.2
3217,72149,Puerto Rico,Villalba,24685,12086,12599,99.7,0.0,0.0,0.0,...,3.2,0.0,3.3,26.9,6795,59.2,27.5,13.1,0.2,25.9
3218,72151,Puerto Rico,Yabucoa,36279,17648,18631,99.8,0.2,0.0,0.0,...,2.3,2.3,1.5,29.5,8083,65.1,27.6,7.3,0.0,24.3
3219,72153,Puerto Rico,Yauco,39474,19047,20427,99.5,0.5,0.0,0.0,...,1.6,0.7,3.1,24.6,8923,68.0,27.6,4.4,0.0,27.1

In [294]:
"""Incoding string data as integers"""
#Incoding states' names
print("The number of observations for each state before incoding was:")
print(data['State'].value_counts())
states_names = data["State"].unique()
states_id = np.arange(states_names.size)
data.replace(states_names,states_id, inplace=True)
print("The number of observations for each state after incoding becomes:")
print(data['State'].value_counts())

#Incoding county names
print("The number of observations for each County before incoding was:")
print(data['County'].value_counts())
county_names = data["County"].unique()
county_id = np.arange(county_names.size)
data.replace(county_names,county_id, inplace=True)
print("The number of observations for each County after incoding becomes:")
print(data['County'].value_counts())

data.info()

The number of observations for each state before incoding was:
Texas                   253
Georgia                 159
Virginia                133
Kentucky                120
Missouri                115
Kansas                  105
Illinois                102
North Carolina          100
Iowa                     99
Tennessee                95
Nebraska                 93
Indiana                  92
Ohio                     88
Minnesota                87
Michigan                 83
Mississippi              82
Puerto Rico              78
Oklahoma                 77
Arkansas                 75
Wisconsin                72
Pennsylvania             67
Alabama                  67
Florida                  67
South Dakota             66
Louisiana                64
Colorado                 64
New York                 62
California               58
Montana                  56
West Virginia            55
North Dakota             53
South Carolina           46
Idaho                    44
Washington               39
Oregon                   36
New Mexico               33
Alaska                   29
Utah                     29
Maryland                 24
Wyoming                  23
New Jersey               21
Nevada                   17
Maine                    16
Arizona                  15
Massachusetts            14
Vermont                  14
New Hampshire            10
Connecticut               8
Rhode Island              5
Hawaii                    4
Delaware                  3
District of Columbia      1
Name: State, dtype: int64
The number of observations for each state after incoding becomes:
43    253
10    159
46    133
17    120
25    115
16    105
13    102
33    100
15     99
42     95
27     93
14     92
35     88
23     87
22     83
24     82
51     78
36     77
3      75
49     72
38     67
0      67
9      67
41     66
18     64
5      64
32     62
4      58
26     56
48     55
34     53
40     46
12     44
47     39
37     36
31     33
1      29
44     29
20     24
50     23
30     21
28     17
19     16
2      15
21     14
45     14
29     10
6       8
39      5
11      4
7       3
8       1
Name: State, dtype: int64
The number of observations for each County before incoding was:
47           31
Jefferson    26
Franklin     25
Jackson      24
Lincoln      24
             ..
Gladwin       1
Eaton         1
Clare         1
Cheboygan     1
Yauco         1
Name: County, Length: 1926, dtype: int64
The number of observations for each County after incoding becomes:
64      31
36      26
29      25
35      24
140     24
        ..
847      1
845      1
844      1
842      1
1925     1
Name: County, Length: 1926, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3218 entries, 0 to 3219
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CensusId         3218 non-null   int64
 1   State            3218 non-null   int64
 2   County           3218 non-null   int64
 3   TotalPop         3218 non-null   int64
 4   Men              3218 non-null   int64
 5   Women            3218 non-null   int64
 6   Hispanic         3218 non-null   float64
 7   White            3218 non-null   float64
 8   Black            3218 non-null   float64
 9   Native           3218 non-null   float64
 10  Asian            3218 non-null   float64
 11  Pacific          3218 non-null   float64
 12  Citizen          3218 non-null   int64
 13  Income           3218 non-null   float64
 14  IncomeErr        3218 non-null   float64
 15  IncomePerCap     3218 non-null   int64
 16  IncomePerCapErr  3218 non-null   int64
 17  Poverty          3218 non-null   float64
 18  ChildPoverty     3218 non-null   float64
 19  Professional     3218 non-null   float64
 20  Service          3218 non-null   float64
 21  Office           3218 non-null   float64
 22  Construction     3218 non-null   float64
 23  Production       3218 non-null   float64
 24  Drive            3218 non-null   float64
 25  Carpool          3218 non-null   float64
 26  Transit          3218 non-null   float64
 27  Walk             3218 non-null   float64
 28  OtherTransp      3218 non-null   float64
 29  WorkAtHome       3218 non-null   float64
 30  MeanCommute      3218 non-null   float64
 31  Employed         3218 non-null   int64
 32  PrivateWork      3218 non-null   float64
 33  PublicWork       3218 non-null   float64
 34  SelfEmployed     3218 non-null   float64
 35  FamilyWork       3218 non-null   float64
 36  Unemployment     3218 non-null   float64
dtypes: float64(27), int64(10)
memory usage: 955.3 KB

[.5 points] Assume you are equally interested in the classification performance for each class in the dataset. Split the dataset into 80% for training and 20% for testing.

In [295]:
"""Split the dataset into 80% for training and 20% for testing."""
# Creating our data matrix (X) and our target variable (y) that we will work on from the dataframe we have
X = data.copy().drop(["ChildPoverty"],axis=1).to_numpy()
#y = data[['Credit_Score']].to_numpy()
y = data.ChildPoverty.to_numpy()
print("The shape of the data matrix: " + str(X.shape))
print("The shape of the target variable: " + str(y.shape))
# Dividing the data into training and testing data using an 80% training and 20% testing split.
X_train, X_test, y_train, y_test = train_test_split(X.copy(), y.copy(), test_size=0.2, random_state=0)
print("The training matrix and target shapes: " + str(X_train.shape)+ ' & ' + str(y_train.shape))
print("The testing matrix and target shapes: " + str(X_test.shape)+ ' & ' + str(y_test.shape))

The shape of the data matrix: (3218, 36)
The shape of the target variable: (3218,)
The training matrix and target shapes: (2574, 36) & (2574,)
The testing matrix and target shapes: (644, 36) & (644,)

[.5 points] Balance the dataset so that about the same number of instances are within each class. Choose a method for balancing the dataset and explain your reasoning for selecting this method. One option is to choose quantization thresholds for the "ChildPoverty" variable that equally divide the data into four classes. Should balancing of the dataset be done for both the training and testing set? Explain.

We choose to quantize threshold for the "ChildPoverty" variable that equally divide the data into four classes. We do this balancing using the entire dataset altogether, and then also apply it to training and testing to have the same evaluation criteria and division, because otherwise, the thresholds for the training and the testing sets will be different and it will be meaningless to predict the target on the test set using a model that was trained for the thresholds of the training set.

In [296]:
"""Balancing the dataset by finding quantization thresholds for the Child Poverty variable"""
#a function that acts on the dataset, and finds the three threshold points that define the four quarters of the variable
def get_threshold_points():
    i = 0;
    threshold_points = []
    while True:
        if int(data[data["ChildPoverty"] < i]["ChildPoverty"].size) >= math.floor(int(data["ChildPoverty"].size)/4): 
            threshold_points.append(i)
            while True:
                if int(data[data["ChildPoverty"] < i]["ChildPoverty"].size) >= math.floor(int(data["ChildPoverty"].size)/2): 
                    threshold_points.append(i)
                    while True:
                        if int(data[data["ChildPoverty"] < i]["ChildPoverty"].size) >= math.floor(int(data["ChildPoverty"].size)*3/4): 
                            threshold_points.append(i)
                            break
                        else: i += 0.001
                    break
                else: i += 0.001
            break
        else: i += 0.001

    return threshold_points

threshold_pts = get_threshold_points()

In [297]:
print(threshold_pts)
first_quarter = data[data["ChildPoverty"] < threshold_pts[0]]
other_than_first = data[data["ChildPoverty"] > threshold_pts[0]]
second_quarter = other_than_first[other_than_first["ChildPoverty"] < threshold_pts[1]]
other_than_second = data[data["ChildPoverty"] > threshold_pts[1]]
third_quarter = other_than_second[other_than_second["ChildPoverty"] < threshold_pts[2]]
fourth_quarter = data[data["ChildPoverty"] > threshold_pts[2]]
print("The number of instances in the first quarter:",int(first_quarter["ChildPoverty"].size))
print("The number of instances in the second quarter:",int(second_quarter["ChildPoverty"].size))
print("The number of instances in the third quarter:",int(third_quarter["ChildPoverty"].size))
print("The number of instances in the fourth quarter:",int(fourth_quarter["ChildPoverty"].size))
print('''The "almost perfect" number of instances tha should be in each quarter:''',math.floor(int(data["ChildPoverty"].size)/4))
#as we can see, we can't perfectly divide them into four equal sets because on the edge, at point 16.8, we have 19 
#observations which will all belong to the first quarter, making it exceed 
print("The number of observations that set on the edge of the first quarter:",int(data[data["ChildPoverty"] == 16.8]["ChildPoverty"].size))

[16.80099999999755, 23.10000000000525, 30.600000000014415]
The number of instances in the first quarter: 815
The number of instances in the second quarter: 799
The number of instances in the third quarter: 806
The number of instances in the fourth quarter: 798
The "almost perfect" number of instances tha should be in each quarter: 804
The number of observations that set on the edge of the first quarter: 19

In [298]:
#Applying the quantization to our target value "Child Poverty" in the training set
y_train[y_train < threshold_pts[0]] = 0
y_train[(y_train > threshold_pts[0]) & (y_train < threshold_pts[1])] = 1
y_train[(y_train > threshold_pts[1]) & (y_train < threshold_pts[2])] = 2
y_train[y_train > threshold_pts[2]] = 3
print(y_train)

[2. 3. 1. ... 0. 1. 2.]

In [299]:
#Applying the quantization to our target value "Child Poverty" in the testing set
y_test[y_test < threshold_pts[0]] = 0
y_test[(y_test > threshold_pts[0]) & (y_test < threshold_pts[1])] = 1
y_test[(y_test > threshold_pts[1]) & (y_test < threshold_pts[2])] = 2
y_test[y_test > threshold_pts[2]] = 3
print(y_test)

[3. 0. 2. 2. 2. 1. 2. 2. 0. 0. 0. 3. 1. 1. 0. 0. 1. 1. 3. 3. 2. 1. 1. 1.
 0. 2. 3. 0. 3. 2. 3. 3. 0. 2. 2. 1. 1. 2. 2. 1. 3. 0. 2. 3. 2. 2. 0. 3.
 3. 3. 0. 0. 3. 2. 3. 1. 3. 2. 1. 1. 1. 2. 2. 2. 1. 2. 3. 3. 0. 1. 1. 2.
 1. 1. 3. 3. 1. 3. 1. 2. 0. 0. 1. 3. 2. 3. 2. 1. 3. 2. 1. 0. 2. 3. 0. 0.
 1. 3. 3. 0. 2. 1. 2. 0. 1. 0. 0. 2. 2. 0. 3. 1. 0. 3. 3. 3. 3. 2. 0. 3.
 0. 3. 0. 0. 0. 1. 0. 1. 0. 1. 2. 1. 2. 2. 1. 1. 0. 3. 3. 2. 1. 2. 0. 0.
 1. 3. 3. 0. 2. 0. 2. 0. 3. 0. 1. 1. 1. 1. 3. 1. 3. 0. 1. 1. 0. 3. 2. 1.
 0. 3. 3. 3. 0. 1. 2. 1. 2. 2. 3. 3. 3. 0. 2. 3. 2. 0. 1. 2. 1. 3. 3. 3.
 1. 0. 1. 0. 1. 0. 3. 1. 1. 3. 1. 2. 0. 2. 3. 1. 2. 1. 0. 1. 3. 1. 3. 1.
 1. 3. 3. 2. 3. 1. 1. 3. 2. 1. 3. 0. 1. 3. 1. 3. 2. 2. 0. 2. 3. 2. 2. 3.
 2. 3. 1. 2. 3. 0. 3. 1. 2. 0. 1. 3. 1. 0. 1. 0. 1. 0. 0. 3. 0. 2. 3. 0.
 1. 1. 3. 2. 0. 2. 2. 3. 0. 3. 3. 3. 1. 2. 2. 2. 3. 3. 3. 2. 2. 1. 3. 2.
 0. 1. 2. 3. 0. 0. 2. 3. 3. 3. 1. 1. 0. 1. 3. 1. 3. 3. 0. 2. 1. 0. 3. 2.
 1. 1. 3. 3. 0. 3. 1. 3. 2. 1. 3. 0. 1. 3. 1. 2. 1. 0. 0. 0. 0. 3. 0. 1.
 2. 3. 1. 0. 3. 0. 0. 3. 1. 2. 1. 3. 0. 0. 0. 1. 0. 0. 2. 2. 0. 1. 0. 2.
 3. 2. 3. 2. 3. 3. 3. 1. 3. 0. 0. 1. 2. 0. 0. 3. 3. 2. 3. 2. 1. 1. 2. 0.
 0. 0. 0. 2. 1. 2. 1. 2. 0. 1. 3. 0. 2. 2. 2. 0. 2. 0. 0. 0. 1. 0. 2. 3.
 1. 2. 3. 0. 3. 3. 2. 2. 3. 2. 2. 1. 3. 2. 2. 1. 3. 3. 1. 0. 0. 3. 0. 2.
 2. 0. 2. 1. 0. 2. 0. 2. 2. 0. 1. 3. 3. 3. 2. 2. 0. 2. 2. 0. 1. 3. 1. 2.
 3. 0. 0. 1. 1. 0. 3. 1. 3. 3. 2. 0. 0. 3. 0. 1. 3. 2. 3. 1. 3. 3. 0. 1.
 2. 1. 1. 3. 0. 0. 2. 1. 2. 1. 1. 2. 1. 3. 1. 0. 1. 2. 0. 2. 2. 3. 1. 1.
 2. 3. 2. 2. 2. 0. 2. 3. 1. 1. 1. 2. 1. 1. 1. 2. 0. 3. 1. 2. 2. 2. 2. 0.
 0. 0. 0. 1. 3. 2. 3. 0. 2. 2. 3. 0. 0. 2. 3. 1. 2. 0. 3. 1. 3. 3. 3. 1.
 1. 3. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 3. 2. 3. 2. 0. 1. 1. 1. 0. 0. 2. 2.
 0. 3. 0. 1. 3. 2. 1. 3. 3. 3. 0. 0. 3. 2. 2. 2. 3. 3. 0. 0. 3. 1. 0. 3.
 2. 3. 1. 1. 3. 3. 0. 0. 3. 0. 1. 1. 1. 2. 1. 1. 2. 3. 1. 2. 2. 1. 1. 3.
 3. 3. 2. 0. 3. 2. 3. 0. 1. 0. 2. 0. 1. 1. 3. 3. 2. 1. 2. 0.]

In [302]:
data[data["State"] > 52] ####???????????????

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
111,5001,111,111,18731,8936,9795,2.9,70.3,25.3,0.1,...,2.1,1.4,2.4,15.1,8088,76.4,15.3,7.7,0.6,8.3
112,5003,111,112,21229,10185,11044,5.1,67.9,26.0,0.3,...,1.7,2.7,2.7,18.5,7840,76.6,18.0,4.8,0.5,11.8
113,5005,111,113,41040,19811,21229,1.9,95.3,0.3,0.6,...,1.3,0.8,4.0,17.1,15229,78.9,12.8,8.3,0.0,7.6
114,5007,111,114,238198,117781,120417,16.0,75.0,1.5,1.4,...,1.6,1.0,4.5,19.9,109788,85.9,290.0,5.9,0.1,4.2
115,5009,111,115,37227,18138,19089,2.2,94.5,0.4,0.7,...,1.2,1.9,2.5,20.3,15368,78.0,12.6,8.9,0.5,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,1184,1845,44772,23359,21413,15.8,79.9,0.8,0.2,...,2.4,0.9,1.6,21.0,23010,78.6,17.7,3.7,0.0,5.4
3138,56039,1184,482,22311,11537,10774,15.1,81.2,0.2,0.4,...,10.3,4.9,5.5,14.4,14298,81.3,11.2,7.5,0.0,2.6
3139,56041,1184,1846,20930,10636,10294,8.9,87.8,0.2,0.4,...,2.8,1.6,111.0,20.4,10064,75.4,19.0,5.6,0.0,4.4
3140,56043,1184,1847,8400,4144,4256,1387.0,82.4,0.7,0.3,...,6.2,2.8,4.5,12.3,3892,70.5,21.5,7.6,0.5,6.8
3141,56045,1184,1848,7152,3695,3457,3.3,92.2,0.2,0.7,...,3.4,1.2,5.5,29.1,3343,70.2,20.2,8.3,1.3,5.2

## Pre-processing (2.5 points total)

There are a number of version of the two layer perceptron covered in class. When using the example two layer network from class be sure that you use: (1) vectorized computation, (2) mini-batching, (3) cross entropy loss, and (4) proper Glorot initialization, at a minimum.

[.5 points] Use the example two-layer perceptron network from the class example and quantify performance using accuracy. Do not normalize or one-hot encode the data (not yet). Be sure that training converges by graphing the loss function versus the number of epochs.

[.5 points] Now normalize the continuous numeric feature data. Use the example two-layer perceptron network from the class example and quantify performance using accuracy. Be sure that training converges by graphing the loss function versus the number of epochs.

[.5 points] Now normalize the continuous numeric feature data AND one hot encode the categorical data. Use the example two-layer perceptron network from the class example and quantify performance using accuracy. Be sure that training converges by graphing the loss function versus the number of epochs.

[1 points] Compare the performance of the three models you just trained. Are there any meaningful differences in performance? Explain, in your own words, why these models have (or do not have) different performances.  

Use one-hot encoding and normalization on the dataset for the remainder of this lab assignment.

## Modeling (5 points total)

[1 points] Add support for a third layer in the multi-layer perceptron. Add support for saving (and plotting after training is completed) the average magnitude of the gradient for each layer, for each epoch. For magnitude calculation, you are free to use either the average absolute values or the L1/L2 norm. Quantify the performance of the model and graph the magnitudes for each layer versus the number of epochs.

[1 points] Repeat the previous step, adding support for a fourth layer.

[1 points] Repeat the previous step, adding support for a fifth layer.

[2 points] Implement an adaptive learning technique that was discussed in lecture and use it on the five layer network. Compare the performance of this model with and without the adaptive learning strategy. Do not use AdaM for the adaptive learning technique.

## Exceptional Work (1 points total)

5000 level student: You have free reign to provide additional analyses.

One idea (required for 7000 level students):  Implement adaptive momentum (AdaM) in the five layer neural network and quantify the performance.